.select {
    --small: 0.25rem;
    --medium: 0.5rem;
    --large: 1rem;
    --very-small-radius: 0.125rem;
    --small-radius: 0.25rem;
    --transition: 250ms ease-in-out;
    --dark: #1a202c;
    --light: #f7fafc;
    --gray: #a0aec0;
    --prim: #3182ce;
    background-color: var(--dark);
    color: var(--light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--small);
    width: 100%;
    max-width: 100%;
    border-radius: var(--small-radius);
    
}
.select-arrow {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--gray);
    position: absolute;
    top: 1rem;
    right: .3rem;
    transition: 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.select.open .select-arrow {
    transform: rotate(180deg) translateX(.1rem) translateY(.1rem);
}
.select-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--small);
    width: 100%;
    max-width: 100%;
    padding: var(--large) var(--medium);
    padding-right: calc(1.8rem + var(--small));
    border: .1rem solid var(--gray);
    border-radius: var(--small-radius);
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.select-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small);
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    border: .1rem solid var(--gray);
    background-color: var(--dark);
    color: var(--light);
    transition: var(--transition);
    height: calc(var(--large) * 4);
    overflow: hidden;
}
.select:hover .select-value, .select:hover .select-value {
    background-color: var(--gray);
}
.select-option:hover {
    background-color: var(--prim);
    color: var(--light);
    border-color: var(--prim);
}
.select.open .select-value {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    border: .1rem solid var(--gray);
    border-bottom-left-radius: var(--very-small-radius);
    border-bottom-right-radius: var(--very-small-radius);
    max-height: calc(var(--large) * 4 * 3);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--dark);
    color: var(--light);
    z-index: 1;
    animation: select-fade-down-slide 250ms ease-in-out forwards;
}

@keyframes select-fade-down-slide {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.select-options.disappear {
    animation: select-fade-up-slide 250ms ease-in-out forwards;
}

@keyframes select-fade-up-slide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}